{% extends 'base.html.twig' %}

{% block title %} BackOffice {% endblock %}

{% block body %}


    <div class="text-center accordion m-5" id="accordionExample">
    <div class="accordion-vehicules">
        <h2 class="accordion-header" id="headingOne">
            <button class="text-center accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                NOTRE VEHICULE A LOUER
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> Informations sur l'annonce </h2> Titre de l'annonce de location : {{ vehicules.title }}  <br> Marque de la voiture : {{ vehicules.marque }} <br> Modèle de la voiture {{ vehicules.modele }} <br> <img src="{{ vehicules.photo }}"  height="150px" widht="150px" alt=""> <br> Prix Journalier : {{ vehicules.prixjournalier }}  </p>
            </div>
        </div>
    </div>
    <div class="accordion-vehicules">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                PRIX JOURNALIER
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> <h2> {{ vehicules.prixjournalier }} € </h2> </p>
            </div>
        </div>
    </div>

{% endblock %}